# Ігнорування файлів та папок, які генеруються автоматично Python
__pycache__/
*.pyc
*.pyo

# Ігнорування файлів, які створюються в процесі роботи
*.backup
*.save
nohup.out
database.db

# Ігнорування файлу зі змінними оточення
.env
