[Unit]
Description=My Telegram Bot
After=network.target

[Service]
User=sergiy
WorkingDirectory=/home/sergiy/telegram_bot_project
ExecStart=/usr/bin/python3 /home/sergiy/telegram_bot_project/main.py
Restart=on-failure
RestartSec=5s
Type=notify
WatchdogSec=30s
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
